---
import BUAA from "../components/icons/BUAA.svg";
import NUS from "../components/icons/NUS.svg";
import ReactIcon from "../components/icons/react.svg";
import Django from "../components/icons/django.svg";
import MySQL from "../components/icons/mysql.svg";
import Nginx from "../components/icons/nginx.svg";
import TypeScript from "../components/icons/typescript.svg";
import TailWindCSS from "../components/icons/tailwindcss.svg";
import TensorFlow from "../components/icons/tensorflow.svg";
import {Image} from "astro:assets";
import Layout from "../layouts/Layout.astro";
import NextJs from "../components/icons/nextjs.svg";

const projects = [
    {
        name: "View Projects",
        link: "https://kelvinmba.netlify.app/",
        type: "",
        description: [
           ,
        ],
    },

];
---
<Layout title="About">
    <div class="prose dark:prose-invert max-w-none lg:prose-lg">
        <h2 class="text-center font-extrabold text-teal-600 dark:text-sky-400">About Me</h2>
        <hr class="border-teal-300 dark:border-sky-600"/>

        {/* Projects section moved above Skills section */}
        <h2 class="text-teal-600 dark:text-sky-400">Projects</h2>
        {
            projects.map((project) => (
                <div class="mb-4">
                    <h4 class="font-bold text-teal-700 dark:text-sky-300">
                        {project.link ? (
                            <a class="no-underline hover:underline" href={project.link} target="_blank">{project.name}</a>
                        ) : (
                            <div>{project.name}</div>
                        )}
                    </h4>
                    <div class="text-teal-500 dark:text-sky-500 italic">{project.type}</div>
                    <ul class="list-disc list-inside">
                        {project.description.map((description) => (
                            <li class="text-sm text-gray-600 dark:text-gray-300">{description}</li>
                        ))}
                    </ul>
                </div>
            ))
        }

        <hr class="border-teal-300 dark:border-sky-600"/>

        {/* Skills section now comes after Projects */}
        <h2 class="text-teal-600 dark:text-sky-400">Skills</h2>
        <div>
            <p>
                <b>Programming Languages:</b> JavaScript, HTML, CSS
            </p>
            <p>
                <b>Frameworks:</b>
                <span class="space-x-2">
                    <Image src={ReactIcon} alt={"React"} class="h-6 w-6 inline align-middle opacity-80 hover:opacity-100 transition-opacity duration-300"/>
                    <Image src={TypeScript} alt={"TypeScript"} class="h-6 w-6 inline align-middle opacity-80 hover:opacity-100 transition-opacity duration-300"/>
                    <Image src={TailWindCSS} alt={"TailWindCSS"} class="h-6 w-6 inline align-middle opacity-80 hover:opacity-100 transition-opacity duration-300"/>
                </span>
            </p>
        </div>
    </div>
</Layout>
