---
const { post } = Astro.props;
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
---

<a href={`/blog/${post.slug}`} class="block">
    <article
        class="mx-auto overflow-hidden bg-gradient-to-br from-purple-100 to-indigo-100 dark:from-purple-900 dark:to-indigo-900 rounded-xl border border-gray-200 dark:border-gray-700 shadow-md transition-all duration-300 hover:shadow-xl hover:scale-105"
    >
        <div class="relative">
            <Image
                src={post.data.image}
                class="h-48 w-full object-cover"
                width={800}
                height={400}
                alt={post.data.title}
            />
            <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-4">
                <h2 class="text-2xl font-bold text-white">{post.data.title}</h2>
            </div>
        </div>
        <div class="p-4">
            <p class="mb-2 text-sm text-gray-700 dark:text-gray-300">{post.data.summary}</p>
            <div class="flex items-center justify-between">
                <span class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    <FormattedDate date={post.data.date} />
                </span>
                <div class="flex space-x-2">
                    {post.data.tags &&
                        post.data.tags.map((tag: string) => (
                            <span
                                class="rounded-full bg-purple-200 dark:bg-purple-800 px-2 py-1 text-xs font-medium text-purple-800 dark:text-purple-200"
                            >
                                {tag}
                            </span>
                        ))}
                </div>
            </div>
        </div>
    </article>
</a>
